/* Stylesheet for Gorillaz Webpage */

body {
	background-color: #F5D1D1;
	font-family: 'Montserrat', sans-serif; 
	color: #6DBDC9;

}

img {
	margin-top: 20px;
}
header {
	font-family: Montserrat SemiBold;
	font-size: 37px;
	max-width: 350px;
	text-align: right;
	margin-right: 10px;
}

h1 {
	font-family: Montserrat SemiBold;
	font-size: 100px;
	margin:0;
	margin-left: 10px;
}

nav ul {
	list-style-type: none;
	text-align:right;
	margin-top: 50px;
}

nav li {
	display: inline;
	color: #6DBDC9;
	font-size: 30px;
	font-family: Montserrat SemiBold;
	margin-left: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

p {
	font-family: Raleway Medium;
}

.bigtext {
	display: flex;
	flex: flex-wrap;
	align-items: center;	
	margin-top: 10px;
}

.flex {
	width:100%;
	max-width: 900px;
	margin:auto;
}

.cycle {
	width:100%;
	max-width:900px;
}