/* Stylesheet for Gorillaz Webpage */

body {
	background-color: #F5D1D1;
	font-family: 'Montserrat', sans-serif; 
	color: #6DBDC9;

}

img {
	margin-top: 20px;
}
header {
	font-family: Montserrat SemiBold;
	font-size: 37px;
	max-width: 350px;
	text-align: right;
	margin-right: 10px;
}

h1 {
	font-family: Montserrat SemiBold;
	font-size: 100px;
	margin:0;
	margin-left: 10px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	text-align:right;
	margin-top: 50px;
}

nav li {
	display: inline;
	color: #6DBDC9;
	font-size: 30px;
	font-family: Montserrat SemiBold;
	margin-left: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

p {
	font-family: Raleway Medium;
	font-size: 28px;
	color: white;
}

.blueback {
	background-color: #6CBDC9;
	width: 100%;
	max-width: 1100px;
}

.bigtext {
	display: flex;
	flex: flex-wrap;
	align-items: center;	
	margin-top: 10px;
}

.flex {
	width:100%;
	max-width: 900px;
	margin:auto;
}

.cycle {
	width:100%;
	max-width:900px;
}

/*.albumcover{
	width:100%;
	max-width: 500px;
}
*/
.album {
/*	display: block;
*/	display: flex;
	flex: flex-wrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	max-width: 1000px;
}

.album img {
	width:100%;
	max-width: 500px;
}

.songlist{
	display: 
	width: 100%;
	max-width: 400px;
}

.songlist li {
	list-style-type: none;
	text-decoration-style: none;
	margin-bottom: 5px;
	color: white;
	font-size: 23px;
	font-family: Raleway Medium;
}