/* Stylesheet for Gorillaz Webpage */

body {
	background-color: #F5D1D1;
	font-family: 'Montserrat', sans-serif; 
	color: #6DBDC9;

}

img {
	margin-top: 20px;
}
header {
	font-family: Montserrat SemiBold;
	font-size: 37px;
	max-width: 350px;
	text-align: right;
	margin-right: 10px;
}

h1 {
	font-family: Montserrat SemiBold;
	font-size: 100px;
	margin:0;
	margin-left: 10px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	text-align:right;
	margin-top: 50px;
}

nav li {
	display: inline;
	color: #6DBDC9;
	font-size: 30px;
	font-family: Montserrat SemiBold;
	margin-left: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

p {
	font-family: Raleway Medium;
	font-size: 26px;
	color: white;
}

.blueback {
	background-color: #6CBDC9;
	width: 100%;
	max-width: 1250px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	padding-bottom: 15px;
}

.bigtext {
	display: flex;
	flex: flex-wrap;
	align-items: center;	
	margin-top: 10px;
}

.bigtext h1{
	text-decoration: none;
	color:#6CBDC9;
}

.flex {
	width:100%;
	max-width: 900px;
	margin:auto;
}

.cycle {
	width:100%;
	max-width:900px;
}

.album {
/*	display: block;
*/	display: flex;
	flex: flex-wrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	max-width: 1100px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.album img {
	width:100%;
	max-width: 400px;
}

.songlist{
	width: 100%;
	max-width: 550px;
}

.songlist li {
	list-style-type: none;
	text-decoration-style: none;
	margin-bottom: 10px;
	color: white;
	font-size: 21px;
	font-family: Raleway Medium;
}

.songlist p {
	margin-left: 40px;
}

.info {
	width: 100%;
	max-width: 400px;
}

.info p {
	font-size: 19px;
	
}

.damon {
	display: flex;
	flex: flex-wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin:auto;
}

.damon p {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 22px;
}

.damon img {
	width: auto;
	min-height: 300px; 
}